
<div class="userPanel">
  <div class="username">username: {{username}}</div>
  <button class="logoutButton" mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>

<div class="compList">
  <div class="userCompListHeader">Your Boards:</div>

  <div class="tableHeader">
    <div class="nameBracket">Name</div>
    <div class="infoBracket">
      <div class="publicBracket">Visibility</div>
      <div class="votesBracket">Subs</div>
    </div>
  </div>

  <div *ngFor="let board of boards" (click)="goToComp(board._id)" class="compElement">
    <div class="nameBracket">{{board.name}}</div>
    <div class="infoBracket">
      <div class="publicBracket">{{board.public}}</div>
      <div class="votesBracket">{{board.votes}}</div>
    </div>
  </div>
</div>

<div class="compList">
  <div class="userCompListHeader">Public Boards:</div>

  <div class="tableHeader">
    <div class="nameBracket">Name</div>
  </div>

    <div *ngFor="let board of publicBoards" (click)="goToComp(board.composition._id)" class="compElement">
      <div class="nameBracket">{{board.composition.name}}</div>
    </div>
</div>


<form #compform= "ngForm" class="newCompForm" (ngSubmit)="addComp()">
  <p class="formHeader">Add board</p>
  <mat-form-field style="width: 80%">
    <mat-label>board name</mat-label>
    <input matInput placeholder="name of the board" name="compName" type="text" required [(ngModel)]="compName" >
  </mat-form-field>
  <mat-checkbox [checked]="this.public" [(ngModel)]="this.public" style="width: 80%;margin-bottom: 10px" [ngModelOptions]="{standalone: true}">Public</mat-checkbox>
  <button mat-raised-button color="primary" type="submit" [disabled]="compform.invalid!">add board</button>
</form>
