
<p style="font-size: 30px;position: absolute;top:10%">Your board Mr/Mrs {{username}}:</p>
<button style="font-size: 15px;position: absolute;top:5%" mat-raised-button color="primary" (click)="logout()">Logout</button>

  <button mat-raised-button color="primary" *ngFor="let comp of compositions" (click)="goToComp(comp._id)">
    {{comp.name}}
  </button>

<form #compform= "ngForm" class="newCompForm" (ngSubmit)="addComp()">
  <p class="formHeader">Add board</p>
  <mat-form-field>
    <mat-label>board name</mat-label>
    <input matInput placeholder="name of the board" name="compName" type="text" required [(ngModel)]="compName">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="compform.invalid">add board</button>
</form>
