:host{
  width: 60%;
  height: 40%;
  display: flex;
  justify-content: center;

  animation: spawn-login 1s ;
  background-color: rgb(234, 234, 234);
  border-radius: 3px;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 15px -5px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 15px -5px rgba(66, 68, 90, 1);
}
:host{

}
mat-form-field{
  width: 51%;
}
/*mat-label{*/
/*  color: gainsboro!important;*/
/*}*/

form{
  display: flex;
  justify-content: space-evenly;

  align-content: space-around;
  width: 80%;
  height: calc(80% - 55px);
  flex-direction: column;
  flex-wrap: wrap;
}
.header{
  width: 100%;
  height: 55px;
  text-align: center;
  background-color: rgb(51, 85, 143);
  color: white;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@keyframes spawn-login {
  0%{
    transform: translateY(-200%);

  }

}
