:host{
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
  border-radius: 20px;
  flex-wrap: wrap;
}
mat-form-field{
  width: 51%;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}
