<form #loginForm="ngForm" (ngSubmit)="login()" class="form">
  <p style="width: 100%;text-align: center;font-size: 30px">Zaloguj się</p>
  <mat-form-field>
    <mat-label>email</mat-label>
    <input matInput placeholder="email" name="email" type="text" required [(ngModel)]="email"/>

  </mat-form-field>


  <mat-form-field>
    <mat-label>password</mat-label>
    <input matInput placeholder="password" name="title" type="password" required [(ngModel)]="password"/>

  </mat-form-field>


    <button mat-raised-button color="accent" style="margin-left: 15%;margin-right: 15%"
            type="submit" [disabled]="loginForm.invalid" type="submit">Zaloguj sie</button>
  </form>
