<div  class="container">
  <app-logged (loggedCheck)="loggedCheck()" *ngIf="isLogged"></app-logged>
  <div *ngIf="!isLogged" class="left">
    <app-login style="transition-duration: 1s" (loggedCheck)="loggedCheck()"></app-login>
    <app-register (loggedCheck)="loggedCheck()"></app-register>
  </div>

  <div class="right">
    <div class="text">Pin</div>
    <div class="text">Board</div>
    <footer class="footer">
      Register or login,then create board, and add images to it!
      <br>public account: name: public, password: xyz
    </footer>
  </div>


</div>
