:host{
  width: 100%;
  height: 100%;
}
.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border:0px solid black;
  box-sizing: border-box;

}

.left{
  display: flex;
  height: 90%;
  width: 50%;
  min-width: 600px;
  min-height: 600px;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
}
.down{
  display: flex;
  height: 10%;
  width: 50%;
  justify-content:center ;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

}
 .right{
  display: flex;
  height: 10%;
  width: 50%;
  justify-content:center ;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

}
.text{

  animation: appear 1s;
  font-size: 10vh;
  height: 70%;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;

}
.footer{
  position: absolute;
  bottom: 4%;
  right: 7.5%;
  font-size: 25px;
  width: 35%;
  min-width: 200px;
  height:auto;
  line-height: 35px;
}

@keyframes  appear{
  0%{
    transform:rotatez(400deg) scale(0,0);

  }

}
@media only screen and (max-width: 600px) {
  .container{
    flex-wrap: wrap;
  }
  .text{
    font-size: 12vw!important;
  }
  .footer{
    visibility: hidden;
  }
  .left{
    height: 40%;
    width: 60%;
  }
  .down{
    height: 20%;
    width: 100%!important;
    border:0px solid black;
    position: relative;


  }
   .right{
    height: 20%;
    width: 100%!important;
    border:0px solid black;
    position: relative;
    bottom: 30%;

     color: #00336b;
  }
  .left{
    width: 100vw;
    height: 60vh;
    min-height: 400px;
    min-width: 0;
  }

}
