<p class="header">Register</p>
<form #registerForm="ngForm" (ngSubmit)="register()" class="form">

  <mat-form-field appearance="outline">
    <mat-label>username</mat-label>
    <input matInput placeholder="username" name="username" type="text" required [(ngModel)]="username"/>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>password</mat-label>
    <input matInput placeholder="password" name="title" type="password" required [(ngModel)]="password"/>

  </mat-form-field>

  <button mat-raised-button color="primary" style="margin-left: 50px;margin-right: 50px" type="submit" [disabled]="registerForm.invalid!">Register</button>
  <mat-error *ngIf="registerError">{{registerError}}</mat-error>
</form>
