<div class="navbar">
  <button class="button" color="primary" mat-raised-button (click)="goBack()">Go back</button>
  <div>
    <button style="margin-right: 10px" class="button" color="primary" mat-raised-button (click)="changeAddPhotoMode()">{{addPhotoMode?"Stop adding":"Add photo"}}</button>
  </div>
  <button [disabled]="newImage!=undefined" style="margin-right: 10px" class="button" color="warn" mat-raised-button (click)="changeDeletePhotoMode()">{{deletePhotoMode?"Stop deleting":"Delete photo"}}</button>

</div>
<div *ngIf="addPhotoMode" (droppedFile)="readNewPhoto($event.file,$event.x,$event.y)" class="dropzone" appDragndrop>
  <div class="centered">Drop your file here!</div>
</div>
