:host{
  display:block;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0!important;
  overflow: hidden;
}
.navbar{
  width: 100vw;
  height: 35px;
  background-color: rgb(15, 26, 44);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  z-index: 2;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropzone{
  position: absolute;
  left: 0;
  top: 45px;
  height: calc(100vh - 45px);
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  z-index: 3;
}
.button{
  width: 120px;
  height: 35px;
}
.photoFormContainer{
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7d6d6;
  flex-wrap: wrap;
}
.photoForm{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
}
.mat-form-field{
  width: 80%!important;
}
.centered{
  z-index: -2;
}

.editPanel{
  height: calc(100vh - 45px);
  width: 25vw;
  min-width: 450px;
  position: absolute;
  top: 45px;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #d7d6d6;
  z-index: 4;
  flex-wrap: wrap;
}
.buttonContainer{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sizeContainer{
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.sizeInputs{
  display: flex;
  align-items: center;
}
.buttonAndCheckbox{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: -9%;
}
.backToOriButton{
  height: 35%!important;
}

